body {
    background-color: red;
    text-align: center;
    background-position: center;
}
.overlay .Ferrari{
background-image: transparent;
opacity: 0.5s;
}

    .hide {
        display: none;
    }
    .myDIV:hover + .hide {
        display: block;
}
.overlay .LexusLFA{
    background-image: transparent;
    opacity: .5;
    }
    .hide {
        display: none;
      }
      .myDIV:hover + .hide {
        display: block;
      } 
.overlay .Porsche918Spider{
    background-image: transparent;
}
.overlay .SianRoadster{
    background-image: transparent;
}

div {
    font-size: 100px;
    text-align: center;
    font-family: cursive;
    font-style: oblique;
}

div {
    color: black;
    z-index: 1;
}

nav {
    text-align: center;
    font-size: 45px;
}

h1 {
    font-size:45px;
    color: black;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

li {
    font-size: 55px;
    color:salmon
}
div.text {
    font-size: 65px;
}

 img {
     width: auto;
     height: auto;
 }

 p {
     text-align: center;
     font-size: 15px;
 }

 footer {
     text-align: center;
     font-size: 55px;
     font-style: italic;
     font-family: fantasy;
     box-sizing: border-box;
 }

 img:hover {
     transition-duration: 0.3s;
     color: transparent;
 }
     .hide {
        display: none;
      }
      .myDIV:hover + .hide {
        display: block;
    }    