body {
    background-color: rgb(161, 153, 153);
    text-align: center;
    position: fixed;
}


@media only screen 
and (min-device-width : 200px) 
and (max-device-width : 300px) {
}

@media only screen 
and (min-device-width : 500px) 
and (max-device-width : 700px) {
}

.background-image {
    background-position: fixed;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
img {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.overlay .LexusLFA{
    background-image: transparent;
    opacity: .5;
    margin-right: 500px;
}
    .hide {
        display: none;
    }
      .myDIV:hover + .hide {
        display: block;
      } 
      .overlay {
        background-position: center;
      }
      h1 {
          text-align: center;
      }

.overlay .SianRoadster{
    background-position: center;
    background-image: transparent;
    opacity: .5;
    }
    .hide {
        display: none;
      }
      .myDIV:hover + .hide {
        display: block;
      } 
      .image {
          background-position: center;
      }
      h1 {
          text-align: center;
      }

div {
    font-size: 100px;
    text-align: center;
    font-family: cursive;
    font-style: oblique;
}

div {
    color: black;
    z-index: 1;
    text-align: center;
}

nav {
    text-align: center;
    font-size: 45px;
}

h1 {
    font-size:45px;
    color: black;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

li {
    font-size: 45px;
    color:yellow;
    text-align: center;
}
div.text {
    font-size: 65px;
}

 p {
     text-align: center;
     font-size: 15px;
 }

 footer {
     text-align: center;
     font-size: 55px;
     font-style: italic;
     font-family: fantasy;
     box-sizing: border-box;
 }

 img:hover {
     transition-duration: 0.3s;
     color: transparent;
 }
     .hide {
        display: none;
      }
      .myDIV:hover + .hide {
        display: block;
    }    
    .container {
        align-items: center;
        text-align: center;
        background-position: center;
    }
